<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <input name="firstname" v-model="field" />
            <input name="lastname" v-model="lastname" />
            <input name="age" v-model="age" />
            <input name="number" v-model="number" />
            <p v-if="field !== ''">The current values is: {{ exclamation }}</p>
            
            <button v-on:click="showValues">show all values</button>
            
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    field: '',
                    lastname: '',
                    age: '',
                    number: '',
                },
                computed: {
                    exclamation: function () {
                        return this.field + '!!';
                    }
                },
                methods: {
                    showValues: function() {
                        // app.$get(data)
                        Object.values(app.$data).map(elem => console.log(elem))
                    }
                }
            });
        </script>
    </body>
</html>