<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Dev version-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Hello World in Vue</title>
  </head>
  <body>
    <div id="app">
      <p>{{product}} are in stock</p>

      <ul>
        <li v-for="product in products">{{product.name}} {{product.quantity}} <span v-if="product.quantity === 0">OUT of stock</span></li>
        <p v-show="productsInStock">Hay productos que reponer</p>
      </ul>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        product: 'Socks',
        products: [{id: 1, quantity: 0, name: 'Cool t-shirt'},
                   {id: 2, quantity: 7, name: 'Cool trousers'},
                   {id: 3, quantity: 10, name: 'Cool caps'}]
      },
      watch: {
        inStock() {
          let nuevasCantidades = this.inStock.map(elem => elem)
          nuevasCantidades.map(elem => console.log(elem <= 0))
        }
      },
      computed: {
        productsInStock(){
          return this.products.filter(elem => elem.quantity === 0).length > 0;
        },
        inStock: function() {
          return this.products.map(elem => elem.quantity)
        }
      }
    });
  </script>
</html>
